#btn-add:active {
    scale: 0.90;
}

#btn-add:hover {
    opacity: 0.7;
}

#imag:active {
    scale: 0.90;
    opacity: 0.8;
}

#btn-add {
    width: 30px;
    height: 30px;
    font-size: 20px;
    overflow: visible;
}

h1 {
    font-family: Arial;
    font-size: large;
}

#date {
    border-color: black;
    font-size: large;
    font-family: Arial;
}

#btn-show {
    width: 30px;
    height: 30px;
}

#nextDiv {
    font-family: Arial;
    font-size: large;
}

body {
    margin-left: 40px;
}

#btn-show-all {
    width: 30px;
    height: 30px;
}

button {
    width: 30px;
    height: 30px;
}